root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_size = 4
indent_style = tab

[*.py]
indent_size = 4
indent_style = space

[*.{js,json,sh,tf,tfvars,vue,yaml,yml}]
indent_size = 2
indent_style = space
